.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**/*.ts
!src/**/*.d.ts
webview/**/*.tsx
!webview/**/*.d.ts
.gitignore
tsconfig.json
webpack.config.js
webpack.webview.config.js
webpack.prod.config.js
*.vsix
*.log
*.map